@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic);
#portfolio-container {
    font-family: Source Sans Pro, sans-serif;
}

dl#simple-gallery {
    position: relative;
    background: rgba(38, 70, 109, 0.4);
    border: 2px solid white;
    box-shadow: 0px 0px 163px 6px rgba(255, 255, 250, 0.6);
    font-size: 0;
    padding: 4rem;
    padding-bottom: 6rem;
}

dl#simple-gallery dt {
    width: 12.5%;
    min-width: 50px;
    cursor: pointer;
}

dl#simple-gallery dt img {
    border: 1px solid white;
    width: 100%;
    height: auto;
}

dl#simple-gallery dt:hover+dd, dl#simple-gallery dt:focus+dd {
    opacity: 1;
}

dl#simple-gallery dd {
    position: absolute;
    top: 6rem;
    left: 20%;
    opacity: 0;
    transition: .7s opacity;
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    color: #fff;
    padding-left: 0;
    width: 70%;
}

dl#simple-gallery dd img {
    border: 1px solid white;
    width: 100%;
    height: auto;
    box-shadow: 0 0 8px rgba(115, 154, 197, 0.3);
    display: block;
    margin-bottom: 1rem;
}

dt {
    margin: 10px;
}
