html {
    height: 100%;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 250%
}

p {
    font-size: 140%;
    line-height: 150%;
    color: #333;
    word-break: break-word;
}

@media (max-width: 820px) {
div.passion p {
  height: 198px;
}
}

.slide {
    position: relative;
    padding: 18vh 6%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#languagepage > .slide:before {
  position: static;
}

#languagepage > .slide:before > a {
text-decoration: none;
}

.title {
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
}

.slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
}

.slide, .slide:before {
    background: 50% 50% / cover;
}

.header {
    text-align: center;
    font-size: 175%;
    color: lightgrey;
    text-shadow: 0 2px 2px #000;
}

#title {
    padding: 12.5vh 10%;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
}

#slide1:before {
    background: rgba(38, 70, 109, 0.7);
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide2 {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
}
#slide3 {
        padding: 12vh 6%;
}
#slide3:before {
    background: #C6E2FF;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

#slide4 {
    min-height: 64vh!important;
    background-image: url("../images/background.jpg");
}
